<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xarm6">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import xarm6 urdf file -->
    <xacro:include filename="$(find my_moveit_xarm6_description)/urdf/xarm6.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="xarm6.ros2_control.xacro" />


    <xacro:xarm6_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
